body {
    font-family: "Poppins", "Verdana";
    background-color: #c0c0c0;
    font-size: medium;
}

button,
select,
input {
    font-family: "Roboto", "Verdana", "Poppins";
    font-size: large;
    border-radius: 0%;
    border: 1px;
    border-style: solid;
    background-color: white;
    box-shadow: 3px 3px rgb(136, 136, 136);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    box-shadow: none;
}

input[type="text"] {
    width: 100px;
}

input[type="range"] {
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
}

#imgSelectButton {
    margin-right: 16px;
}
.ImageInfo {
    display: flex;
    gap: 16px;
    padding-left: 10px;
}

.ImageInfo {
    font-size: large;
}
#imgSize {
    font-weight: bold;
}

.imgSelectDiv {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.dimensionInfo {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    align-items: center;
}

.Sliders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.ScaleSlider,
.QualitySlider {
    /* width: 100%; */
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 16px;
}

.OptionsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    align-items: center;
}

.OptionsButtonsDiv,
.RotateButtonsDiv {
    display: flex;
    gap: 8px;
    margin-right: 8px;
}

.exportImage {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.canvasDiv {
    height: fit-content;
    width: fit-content;
    margin: 8px;
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

#canvas {
    display: block;
    width: 100%;
    /* height: auto; */
}
